Repository BradFisher95/Ether-Frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write",
  "*.tsx": ["prettier --write", "eslint"]
}

reverting bad changes to comply with husky! pre-commit working and setup
  apps/ether-app/src/main.tsx
Due: eslint, prettier --write

updating package lock
  package-lock.json
Due: none

created an admin app and a customer app
  .eslintignore
  README.md
  apps/ether-admin/.eslintrc.json
  apps/ether-admin/index.html
  apps/ether-admin/jest.config.ts
  apps/ether-admin/project.json
  apps/ether-admin/public/favicon.ico
  apps/ether-admin/src/app/app.module.scss
  apps/ether-admin/src/app/app.spec.tsx
  apps/ether-admin/src/app/app.tsx
  apps/ether-admin/src/assets/.gitkeep
  apps/ether-admin/src/main.tsx
  apps/ether-admin/src/styles.scss
  apps/ether-admin/tsconfig.app.json
  apps/ether-admin/tsconfig.json
  apps/ether-admin/tsconfig.spec.json
  apps/ether-admin/vite.config.ts
  apps/ether-customer/.eslintrc.json
  apps/ether-customer/index.html
  apps/ether-customer/jest.config.ts
  apps/ether-customer/project.json
  apps/ether-customer/public/favicon.ico
  apps/ether-customer/src/app/app.module.scss
  apps/ether-customer/src/app/app.spec.tsx
  apps/ether-customer/src/app/app.tsx
  apps/ether-customer/src/assets/.gitkeep
  apps/ether-customer/src/main.tsx
  apps/ether-customer/src/styles.scss
  apps/ether-customer/tsconfig.app.json
  apps/ether-customer/tsconfig.json
  apps/ether-customer/tsconfig.spec.json
  apps/ether-customer/vite.config.ts
  package-lock.json
  package.json
Due: eslint, prettier --write

setup eslint for typescript imports across the project & set the styles library in both apps
  .eslintrc.json
  apps/ether-admin/src/app/app.tsx
  apps/ether-customer/src/app/app.tsx
  libs/shared/styles/.babelrc
  libs/shared/styles/.eslintrc.json
  libs/shared/styles/README.md
  libs/shared/styles/jest.config.ts
  libs/shared/styles/project.json
  libs/shared/styles/src/index.ts
  libs/shared/styles/src/lib/styles.scss
  libs/shared/styles/src/types/styles.d.ts
  libs/shared/styles/tsconfig.json
  libs/shared/styles/tsconfig.lib.json
  libs/shared/styles/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint, prettier --write

setup a mockoon server and some css variables
  libs/shared/styles/src/lib/base/_resets.scss
  libs/shared/styles/src/lib/base/_typography.scss
  libs/shared/styles/src/lib/base/_variables.scss
  libs/shared/styles/src/lib/styles.scss
  mocks/ether-api.json
Due: prettier --write

created a dynamic-theme library and resolved issues with tsconfigs
  .eslintignore
  apps/ether-admin/tsconfig.json
  apps/ether-customer/tsconfig.json
  libs/shared/features/dynamic-theme/.babelrc
  libs/shared/features/dynamic-theme/.eslintrc.json
  libs/shared/features/dynamic-theme/README.md
  libs/shared/features/dynamic-theme/jest.config.ts
  libs/shared/features/dynamic-theme/project.json
  libs/shared/features/dynamic-theme/src/index.ts
  libs/shared/features/dynamic-theme/src/lib/dynamic-theme.spec.tsx
  libs/shared/features/dynamic-theme/src/lib/dynamic-theme.tsx
  libs/shared/features/dynamic-theme/tsconfig.json
  libs/shared/features/dynamic-theme/tsconfig.lib.json
  libs/shared/features/dynamic-theme/tsconfig.spec.json
  tsconfig.base.json
Due: eslint, prettier --write

installed redux
  package-lock.json
  package.json
Due: none

started to outline and install redux
  libs/shared/features/dynamic-theme/src/index.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: none

created a redux RTK api example of fetching a theme from mockoon
  .eslintrc.json
  .lintstagedrc.json
  apps/ether-admin/jest.config.ts
  apps/ether-admin/src/app/app.spec.tsx
  apps/ether-admin/src/app/app.tsx
  apps/ether-admin/src/main.tsx
  apps/ether-customer/jest.config.ts
  apps/ether-customer/src/app/app.module.scss
  apps/ether-customer/src/app/app.spec.tsx
  apps/ether-customer/src/app/app.tsx
  apps/ether-customer/src/app/hooks.ts
  apps/ether-customer/src/app/store.ts
  apps/ether-customer/src/main.tsx
  libs/shared/features/dynamic-theme/src/index.ts
  libs/shared/features/dynamic-theme/src/lib/dynamic-theme.spec.tsx
  libs/shared/features/dynamic-theme/src/lib/slices/themeSlice.ts
  libs/shared/styles/jest.config.ts
  libs/shared/styles/tsconfig.json
  mocks/ether-api.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint, prettier --write

implemented an approach for dynamic themes using this slice
  apps/ether-customer/src/app/app.tsx
  libs/shared/features/dynamic-theme/src/index.ts
  libs/shared/features/dynamic-theme/src/lib/dynamic-theme.tsx
Due: eslint, prettier --write

dynamic theme work complete & working as expected
  libs/shared/core/.babelrc
  libs/shared/core/.eslintrc.json
  libs/shared/core/README.md
  libs/shared/core/jest.config.ts
  libs/shared/core/project.json
  libs/shared/core/src/index.ts
  libs/shared/core/src/lib/utilities/helpers.ts
  libs/shared/core/tsconfig.json
  libs/shared/core/tsconfig.lib.json
  libs/shared/core/tsconfig.spec.json
  libs/shared/features/dynamic-theme/src/lib/dynamic-theme.tsx
  libs/shared/features/dynamic-theme/src/lib/slices/themeSlice.ts
  libs/shared/styles/src/lib/base/_resets.scss
  libs/shared/styles/src/lib/base/_typography.scss
  mocks/ether-api.json
  tsconfig.base.json
Due: eslint, prettier --write

added dynamic theme for admin app also
  apps/ether-admin/src/app/app.module.scss
  apps/ether-admin/src/app/app.tsx
  apps/ether-admin/src/app/hooks.ts
  apps/ether-admin/src/app/store.ts
  apps/ether-admin/src/main.tsx
Due: eslint, prettier --write

converted tsx into a hook as no rendering required
  apps/ether-admin/src/app/app.tsx
  apps/ether-customer/src/app/app.tsx
  libs/shared/features/dynamic-theme/src/index.ts
  libs/shared/features/dynamic-theme/src/lib/dynamic-theme.spec.tsx
  libs/shared/features/dynamic-theme/src/lib/dynamic-theme.tsx
  libs/shared/features/dynamic-theme/src/lib/hooks/useDynamicTheme.ts
  libs/shared/styles/src/lib/base/_resets.scss
Due: eslint, prettier --write

attempted to add fonts but was unsuccessful - will investigate later
  apps/ether-admin/index.html
  apps/ether-admin/src/styles.scss
  apps/ether-admin/vite.config.ts
  apps/ether-customer/index.html
  apps/ether-customer/src/styles.scss
  apps/ether-customer/vite.config.ts
  libs/shared/styles/src/fonts/Outfit/Outfit-Black.ttf
  libs/shared/styles/src/fonts/Outfit/Outfit-Bold.ttf
  libs/shared/styles/src/fonts/Outfit/Outfit-ExtraBold.ttf
  libs/shared/styles/src/fonts/Outfit/Outfit-ExtraLight.ttf
  libs/shared/styles/src/fonts/Outfit/Outfit-Light.ttf
  libs/shared/styles/src/fonts/Outfit/Outfit-Medium.ttf
  libs/shared/styles/src/fonts/Outfit/Outfit-Regular.ttf
  libs/shared/styles/src/fonts/Outfit/Outfit-SemiBold.ttf
  libs/shared/styles/src/fonts/Outfit/Outfit-Thin.ttf
  libs/shared/styles/src/lib/base/_resets.scss
  libs/shared/styles/src/lib/base/_typography.scss
Due: eslint, prettier --write

started to create a loader component
  apps/ether-customer/src/app/app.tsx
  libs/shared/styles/src/lib/base/_resets.scss
  libs/shared/styles/src/lib/base/_typography.scss
  libs/shared/ui/.babelrc
  libs/shared/ui/.eslintrc.json
  libs/shared/ui/README.md
  libs/shared/ui/jest.config.ts
  libs/shared/ui/project.json
  libs/shared/ui/src/index.ts
  libs/shared/ui/src/lib/Loader/Loader.scss
  libs/shared/ui/src/lib/Loader/Loader.tsx
  libs/shared/ui/tsconfig.json
  libs/shared/ui/tsconfig.lib.json
  libs/shared/ui/tsconfig.spec.json
  mocks/ether-api.json
  tsconfig.base.json
Due: eslint, prettier --write

migrated API calls into the data-access layer & setup API in RTK
  apps/ether-admin/src/app/store.ts
  apps/ether-customer/src/app/store.ts
  libs/shared/data-access/.babelrc
  libs/shared/data-access/.eslintrc.json
  libs/shared/data-access/README.md
  libs/shared/data-access/jest.config.ts
  libs/shared/data-access/project.json
  libs/shared/data-access/src/index.ts
  libs/shared/data-access/src/lib/config/configApi.ts
  libs/shared/data-access/src/lib/config/endpoints/themeEndpoints.ts
  libs/shared/data-access/src/lib/config/types/index.ts
  libs/shared/data-access/src/lib/config/types/theme.ts
  libs/shared/data-access/tsconfig.json
  libs/shared/data-access/tsconfig.lib.json
  libs/shared/data-access/tsconfig.spec.json
  libs/shared/features/dynamic-theme/src/index.ts
  libs/shared/features/dynamic-theme/src/lib/hooks/useDynamicTheme.ts
  libs/shared/features/dynamic-theme/src/lib/slices/themeSlice.ts
  libs/shared/styles/src/lib/base/_resets.scss
  libs/shared/ui/src/lib/Loader/Loader.scss
  libs/shared/ui/src/lib/Loader/Loader.tsx
  mocks/ether-api.json
  tsconfig.base.json
Due: eslint, prettier --write

added error handling to theme query
  libs/shared/data-access/src/lib/config/endpoints/themeEndpoints.ts
  libs/shared/features/dynamic-theme/src/lib/hooks/useDynamicTheme.ts
  libs/shared/styles/src/lib/base/_resets.scss
  libs/shared/ui/src/lib/Loader/Loader.scss
  mocks/ether-api.json
Due: prettier --write

added default by passing in parameter to hook
  apps/ether-customer/src/app/app.tsx
  libs/shared/features/dynamic-theme/src/lib/hooks/useDynamicTheme.ts
Due: eslint, prettier --write

dynamically rendering theme and content based on envrionment variables
  apps/ether-admin/environment/.env
  apps/ether-admin/src/app/app.tsx
  apps/ether-admin/src/app/store.ts
  apps/ether-admin/vite.config.ts
  apps/ether-customer/environment/.env
  apps/ether-customer/src/app/app.tsx
  apps/ether-customer/src/app/store.ts
  apps/ether-customer/vite.config.ts
  libs/shared/data-access/src/index.ts
  libs/shared/data-access/src/lib/content/cmsApi.ts
  libs/shared/data-access/src/lib/content/endpoints/contentEndpoints.ts
  libs/shared/data-access/src/lib/content/types/content.ts
  libs/shared/features/cms/.babelrc
  libs/shared/features/cms/.eslintrc.json
  libs/shared/features/cms/README.md
  libs/shared/features/cms/jest.config.ts
  libs/shared/features/cms/project.json
  libs/shared/features/cms/src/index.ts
  libs/shared/features/cms/src/lib/components/ContentRenderer.tsx
  libs/shared/features/cms/tsconfig.json
  libs/shared/features/cms/tsconfig.lib.json
  libs/shared/features/cms/tsconfig.spec.json
  libs/shared/features/dynamic-theme/src/lib/hooks/useDynamicTheme.ts
  libs/shared/styles/src/lib/base/_resets.scss
  libs/shared/styles/src/lib/base/_typography.scss
  libs/shared/ui/src/lib/Loader/Loader.tsx
  mocks/ether-cms.json
  mocks/ether-config.json
  tsconfig.base.json
  vite-env.d.ts
Due: eslint, prettier --write

updating package-lock
  package-lock.json
Due: none

started outlining the admin application router
  apps/ether-admin/src/app/App.spec.tsx
  apps/ether-admin/src/app/App.tsx
  apps/ether-admin/src/app/Routes.tsx
  apps/ether-admin/src/app/app.tsx
  apps/ether-admin/src/app/pages/dashboard/Dashboard.scss
  apps/ether-admin/src/app/pages/dashboard/Dashboard.tsx
  apps/ether-admin/src/app/pages/login/Login.scss
  apps/ether-admin/src/app/pages/login/Login.tsx
  apps/ether-admin/src/app/pages/not-found/NotFound.tsx
  apps/ether-admin/src/app/pages/not-found/NoutFound.scss
  apps/ether-admin/src/main.tsx
  apps/ether-customer/src/app/app.tsx
  libs/shared/ui/src/lib/Button/Button.scss
  libs/shared/ui/src/lib/Button/Button.tsx
  package-lock.json
  package.json
Due: eslint, prettier --write

Created a protectedRoute guard component and auth feature lib
  apps/ether-admin/src/app/Routes.tsx
  libs/shared/core/src/index.ts
  libs/shared/core/src/lib/guards/ProtectedRoute.tsx
  libs/shared/features/auth/.babelrc
  libs/shared/features/auth/.eslintrc.json
  libs/shared/features/auth/README.md
  libs/shared/features/auth/jest.config.ts
  libs/shared/features/auth/project.json
  libs/shared/features/auth/src/index.ts
  libs/shared/features/auth/src/lib/auth.module.scss
  libs/shared/features/auth/src/lib/auth.spec.tsx
  libs/shared/features/auth/src/lib/auth.tsx
  libs/shared/features/auth/tsconfig.json
  libs/shared/features/auth/tsconfig.lib.json
  libs/shared/features/auth/tsconfig.spec.json
  tsconfig.base.json
Due: eslint, prettier --write

Updated auth lib
  apps/ether-admin/environment/.env
  apps/ether-admin/src/app/pages/login/Login.tsx
  apps/ether-admin/src/app/store.ts
  libs/shared/core/src/lib/guards/ProtectedRoute.tsx
  libs/shared/features/auth/src/index.ts
  libs/shared/features/auth/src/lib/auth.module.scss
  libs/shared/features/auth/src/lib/auth.spec.tsx
  libs/shared/features/auth/src/lib/auth.tsx
  libs/shared/features/auth/src/lib/authSlice.ts
  libs/shared/features/auth/src/lib/components/LoginButton.tsx
  libs/shared/features/auth/src/lib/components/index.ts
  libs/shared/features/auth/src/lib/index.ts
  package-lock.json
  tsconfig.base.json
Due: eslint, prettier --write

started to outline login page
  apps/ether-admin/src/app/pages/login/Login.scss
  apps/ether-admin/src/app/pages/login/Login.tsx
Due: eslint, prettier --write
